*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* body{
     background-color: #fffbf4;
} */
 .navbar-nav{
    flex-basis: 80%;
    justify-content: center;
}
header{
    /* height: 80vh; */
    width: 100%;
    background-color: #b1d8fc;
    position: relative;
}
.header-h1{
    font-size: 60px;
    font-family: "Libertinus Math", system-ui;
  font-weight: 700;
  font-style: normal;
   
}
header>div>img{
    position: absolute;
    top:100%;
    width:100%;   
}
.trusted{
    color: #b1d8fc;
    font-weight: 400;
}
.advanced{
    color: #ac9ade;
    font-weight: 400;
}
.section1{
    height: 100vh;
    background-color: #fffbf4;
}
.sec-h1{
    font-weight: 400;
    font-size: 17px ;
    font-family: "Chivo Mono", monospace;
    text-transform:uppercase;
}
.sec-h11{
    
    font-weight: 700;
}
.section3{
    width: 100%;
    background-color: #fffbf4;
    padding: 48px 64px 80px;
    padding-bottom: 80px;
    overflow: hidden;
}
.sec-div1{
    max-width: 1312px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-top: 24px;
    border-top: 1px solid rgba(250, 244, 238, 0.16);
}
.sec-h5{
    font-family: '__BagossCondensedFont_6a34bf','__BagossCondensedFont_Fallback_6a34bf',Arial,Helvetica,sans-serif;
     font-weight: 500;
     font-size: 24px;
     position: relative;
     z-index: 1;
}
.deel{
background-color: #b1d8fc;
color: black;
border: 2px solid none;
border-radius: 10px;
padding: 10px 50px;
}
.deel2{
background-color: #fef0d8;
color: black;
border: 2px solid none;
border-radius: 10px;
padding: 10px 50px;
}
section>div>a:hover{
    background-color: burlywood;
}
.section5{
     /* width: 100%; */
    background-color: #1b1b1b;
    color: white;
position: relative;
}
.sec-img1{
    position: absolute;
    top:-5.7%;
    width:100%;
}
.sec-img2{
    background-color: #ffeba6;
   position: absolute;
    top:100%;
    width:100%;
}
.flex1{
    background-color: #b1d8fc;
     border-radius: 15px;
     flex-basis:40%;
}
.flex2{
    background-color: #b1d8fc;
    border-radius: 15px;
}
.h1-font{
    font-size: 80px;
    font-weight: 700;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 40px auto;
}

.grid-item {
    display: grid;
 gap: 30px;
}

.section6{
    background-image: url('https://website-media.deel.com/Coverage_Illustration_min_0a71b2d215.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     height: 70vh;
     background-color: #ffeba6;
}
.section6-div{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-bottom: 100px;
    
}
.btn7{
    border-radius: 30px;
    background-color: black;
    color: white;
    font-weight: 400px;
    padding: 10px;
    margin-bottom: 100px;
}
.section7{
    background-color: #fef5e6;
    /* height: 100vh; */
    padding: 48px 40px 100px;
       position: relative
}
.sec7-h5{
    font-size: 60px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}
.button-div{
    display: flex;
    justify-content: center;
  
}
.button-items{
    display: flex;
    justify-content: center;
    align-items: center;
   ;
    gap: 30px;
    padding: 8px;
    margin-top: 50px;
    border-radius: 200px;
    background-color: transparent;
    width: auto;
    height: 50px;
    border: 2px solid rgba(27, 27, 27, 0.16);
}

.btn8{
border: 0px;
background-color: black;
color: white;
font-weight: 700px;
border-radius: 200px;
padding: 10px;
}
.btn9{
  border: 0px;
background-color: transparent;
color: black;
font-weight: 700px;
padding: 10px; 
}
.flora{
    background-color: #ffffff;
    height: 450px;
    width: 500px;
    position: absolute;
    top: 41%;
    left: 43%;
    border-radius: 16px;
    padding: 40px;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}